# Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build results
bin/
obj/

# ASP.NET
project.lock.json
project.fragment.lock.json
artifacts/

# Rider or VS Code
.idea/
.vscode/
*.code-workspace

# OS
.DS_Store
Thumbs.db
